<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ByteMarket.WebUI</title>
   
    @await Html.PartialAsync("/Views/Shared/Partials/_StylesPartial.cshtml")

</head>
<body>
    @await Component.InvokeAsync("Header")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("/Views/Shared/Partials/_FooterPartial.cshtml")

    @await Html.PartialAsync("/Views/Shared/Partials/_ScriptsPartial.cshtml")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
