<footer class="border-top footer text-muted bg-white mt-auto py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 text-md-start">
                &copy; 2026 - <strong>ByteMarket</strong>. Tüm hakları saklıdır.
            </div>
            <div class="col-md-6 text-md-end">
                <a asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-muted me-3">Gizlilik Politikası</a>
                <a href="#" class="text-decoration-none text-muted">Kullanım Koşulları</a>
            </div>
        </div>
    </div>
</footer>