
<div class="success-order align-content-center gap-2">
    <div d-flex align-items-center justify-content-center>
        <i class="fa fa-check-circle success-icon"></i>
        <h2 class="success-title">Siparişiniz Başarıyla Alındı!</h2>
    </div>
    <a href="/" class="btn btn-ty-orange text-white mt-3">Ürünlere Göz At</a>
</div>